{% extends 'main/base.html' %}

<!--loading the crispy forms-->
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block intro%}Sign Up{% endblock %}

{% block content %}
<form method="post">
    <!--Security feature used everytime you have form method post-->
    {% csrf_token %} 
    <!--sign up form (RegistrationForm) with the crispy styling-->
    {{form|crispy}}
    <p>Have an account? Login <a href="/sign-up">here</a>!</p>
    <!--post the data to the backend-->
    <button type="submit" class="btn btn-warning" data-toggle="button" aria-pressed="false" autocomplete="off">
        Register
    </button>
</form>


{% endblock %}